.navbar-nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: row;
	padding-left: 0;
	justify-content: space-between;
	margin-bottom: 0;
	list-style: none;
	width: 150px;
}
